#!/usr/bin/env ruby


compile '/posts/' do
  filter :haml
  layout 'default'
end

compile '/posts/*' do
  filter :bluecloth
  layout 'default'
end

compile '/tags/' do
  filter :haml
  layout 'default'
end

compile '/tags/*' do
#  filter :haml
  layout 'default'
#  filter :haml
end

compile '/style/*' do
end

route '/style/*' do
  item.identifier.chop + ".css"
end

layout '/tag/', :haml

layout '*', :haml

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

preprocess do
  require 'set'
  tags = Hash.new { |h, k| h[k] = 0 }
  items.each do |item|
    if item[:tags]
      item[:tags].each { |t| tags[t] += 1 }
    end
  end  

  tags.each do |tag, count|
    items << Nanoc3::Item.new(render('tag', :tag_name => "#{tag}", :tag_count => "#{count}", :items => items),
                              { :title => "Category: #{tag}",
                                :tag_name => tag,
                                :tag_count => count.to_s
                              },
                              "/tags/#{tag}/")
  end
end
