#!/usr/bin/env ruby

preprocess do
  add_missing_info
  create_tags_pages
  create_month_archives
end


compile '/' do
  filter :haml
  layout 'home'
end

compile '/feed/' do
  filter :erb
end

compile '/sitemap/' do
  filter :erb
end

compile '/archives/' do
  filter :haml
  layout '/home/'
end

compile '/posts/' do
  filter :haml
  layout 'default'
end

compile '/posts/200*' do
  filter :rdiscount
  layout '/post/'
end

compile '/posts/*' do
  filter :rdiscount
  layout '/post/'
end

compile '/software/*' do
  filter :rdiscount
  layout 'default'
end

compile '/links/*' do
  filter :erb
  filter :rdiscount
  layout 'default'
end

compile '/tags/' do
  filter :haml
  layout 'default'
end

compile '/tags/*' do
  filter :haml
  layout 'default'
end

compile '/style/style/' do
    filter :sass
end

compile '/js/*' do
  filter :erb
end

compile '/style/*' do
  nil
end

route '/feed/' do
  item.identifier.chop + ".atom"
end

route '/sitemap/' do
  item.identifier.chop + ".xml"
end

route '/style/*' do
  item.identifier.chop + ".css"
end

route '/js/*' do
  item.identifier.chop + ".js"
end

layout '/tag/', :haml
layout '*', :haml, :ugly => true

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

