#!/usr/bin/env ruby

compile '/' do
  filter :haml
  layout 'home'
end

compile '/feed/' do
  filter :erb
end

compile '/sitemap/' do
  filter :erb
end

compile '/archives/' do
  filter :haml
  layout '/home/'
end

compile '/posts/' do
  filter :haml
  layout 'default'
end

compile '/posts/200*' do
  filter :rdiscount
  layout '/post/'
end

compile '/posts/*' do
  filter :rdiscount
  layout '/post/'
end

compile '/software/*' do
  filter :rdiscount
  layout 'default'
end

compile '/links/*' do
  filter :erb
  filter :rdiscount
  layout 'default'
end

compile '/tags/' do
  filter :haml
  layout 'default'
end

compile '/tags/*' do
  filter :haml
  layout 'default'
end

compile '/style/style/' do
    filter :sass
end

compile '/style/*' do
  nil
end

route '/feed/' do
  item.identifier.chop + ".atom"
end

route '/sitemap/' do
  item.identifier.chop + ".xml"
end

route '/style/*' do
  item.identifier.chop + ".css"
end

layout '/tag/', :haml
layout '*', :haml, :ugly => true

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

preprocess do
  tags = Hash.new { |h, k| h[k] = 0 }
  bymonth = Hash.new { |h, k| h[k] = [] }

  items.each do |item|
    if item[:kind] == "article"
      if item[:tags]
        item[:tags].each { |t| tags[t] += 1 }
      end

      t = Time.parse(item[:created_at])
      bymonth[t.strftime("%Y-%B")] << item
    end
  end  

  tags.each do |tag, count|
    items << Nanoc3::Item.new(%[= render('tag', :tag_name => "#{tag}", :tag_count => "#{count}")],
                              { :title => "#{tag}",
                                :tag_name => tag,
                                :tag_count => count.to_s
                              },
                              "/tags/#{tag}/")
  end

  bymonth.each do |year_month, posts|
    posts = posts.sort_by { |p| Time.parse(p[:created_at]) }.reverse
    most_recent = Time.parse(posts.first[:created_at])
    items << Nanoc3::Item.new(render('bymonth', :posts => posts,
                                     :year_month => year_month),
                              { :title => "#{year_month}",
                                :post_count => posts.count,
                                :most_recent => most_recent,
                                :month => most_recent.strftime("%B"),
                                :year => most_recent.strftime("%Y")
                              },
                              "/archives/#{year_month}/")
  end

  
  
end
