.row
  .column.grid_4
    %h2
      Recent Posts
    %ul.posts
      - sorted_articles[0..4].each do |post|
        %li
          %a{ :href => post.identifier }
            = post[:title]
          = " (" + tags_for(post) + ")"
          = timeago(post)
  .column.grid_4
    %h2
      Other Stuff...

 