#summaries
  %h1 Recent Posts
  - recent_article_pairs(6).each do |pair|
    .prow
      .left
        = render('/post_summary', :post => pair[0])
      .right
        = render('/post_summary', :post => pair[1])
  