*
  margin: 0
  padding: 0
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif

body
  background: #fff
  font-size: 62.5%

a
  text-decoration: underline
  &:link
    color: #0050B4
  &:visited
    color: #5C91B4
  &:hover
    background: #eeeeee
  img
    border: none
#orange
  text-align: center
  img
    padding-top: 5px

#header
  float: left
  width: 100%
  min-width: 710px
  background: #eeeeee
  padding-bottom: 0

#header_logo
  float: left
  padding-right: 0
  margin-right: 0 20px 0 0
  img
    margin-top: 0

#navlist
  float: left
  padding: 5px 5px 0 5px
  margin: 5px 5px 0 100px
  font-size: 15px
  border-bottom: 1px dotted

  li
    list-style: none
    margin: 0 0 0.4em 0
    display: inline
    float: left

    a, span
      padding: 0.3em 0.5em
      padding-bottom: 0.3em
      margin-left: 0.3em
      margin-bottom: 0.2em
      text-decoration: none
      strong.bracket
        visibility: hidden

      &:link
        color: #5e5e5e
      &:visited
        color: #5e5e5e

      &:hover
        strong.bracket
          visibility: visible
          color: #5e5e5e

    a.current, span.current
      strong.bracket
        visibility: visible
        color: #000

#feed_icon
  float: right
  padding-top: 0.3em
  text-align: right

#main
  clear: both
  background: #dddddd
  min-height: 500px
  padding: 2em 3em 1em 3em
  color: #5e5e5e
  img.feed_icon
    padding-left: 1em
  h1 
    font-size: 3em
    line-height: 1
    margin-bottom: 0.5em

  h2
    font-size: 2em
    line-height: 1
    margin-bottom: 0.75em

  h3
    font-size: 1.5em
    line-height: 1
    margin-bottom: 1em

  h4
    font-size: 1.2em
    line-height: 1.25
    margin-bottom: 1.25em

  h5
    font-size: 1em
    margin-bottom: 1.5em

  p 
    margin: 0 0 1.5em 0
    font-size: 1.7em
    line-height: 1.2

  pre
    margin: 1.5em 0
    white-space: pre
    background: #EEEEEE
    padding: 0.75em
    font: 1.5em "Panic Sans", "Bitstream Vera Sans Mono", Consolas, monospace
    line-height: 1.5
    overflow: auto

  code, tt
    font: 1em 'andale mono', 'lucida console', monospace

  ul 
    margin: 20px

  li
    font-size: 1.5em
    list-style-type: square

  ul.posts
    li
      list-style: none

#post_details
  padding-top: 2em
  padding-bottom: 2em
  p
    font-size: 1.2em
    margin-bottom: 0.5em
    line-height: 1

#post_summary
  color: #333
  margin-bottom: 2em
  h3
    font-size: 2.0em
    line-height: 1
    margin-top: 3em
    margin-bottom: 0.3em
    a
      text-decoration: none      
      color: #333

  abbr.timeago
    font-size: 1.1em
    color: gray

  span.tag_list
    font-size: 1.1em
    color: gray

  p
    margin-top: 1em
    span.more_link
      padding-left: 1em
      font-size: 0.75em
      color: gray

#footer
  padding-top: 1em
  background: #bfbfbf
  padding-bottom: 2em
  h2
    font-size: 2em
    line-height: 1
    margin-bottom: 0.75em

#copyright
  margin-top: 6em
  text-align: center
#coord_list
  font-size: 1.4em
  li
    list-style: none
    margin-bottom: 0.5em
#coord_img
  float: left
  padding: 0.5em
  background: #dddddd
#feed_me
  font-size: 1.4em
