%ul
  %li<
    email: seth @ userprimary . net
  %li<
    gpg:
    %a{ :href => "/keys/seth-falcon-opscode.asc" }<
      C81B042D (F198 8779 6F8F 168F AC23  138E 6B0F 6298 C81B 042D)
  %li<
    Twitter:
    %a{ :href => "http://www.twitter.com/sfalcon" }<
      \@sfalcon
  %li<
    = linked_in_badge
  %li<
    GitHub:
    %a{ :href => "http://github.com/seth" }
      seth
