%ul
  %li<
    email: < seth @ userprimary . net >
  %li<
    Twitter:
    %a{ :href => "http://www.twitter.com/sfalcon" }><
      \@sfalcon
  %li<
    = linked_in_badge
  %li<
    GitHub:
    %a{ :href => "http://github.com/seth" }><
      seth
