#header
  %img{ :src => "/images/userp-logo.png" }
  #navlist
    %ul
      %li
        = nav_link_to_unless_current("Home", "/")
      %li
        = nav_link_to_unless_current("Archives", "/archives/")
      %li
        = nav_link_to_unless_current("Software", "/software/")
      %li
        = nav_link_to_unless_current("Links", "/links/")
  #feed_icon
    %a{ :href => "/feed.atom", :title => "User Primary Atom Feed" }
      %img{ :src => "/images/feed-icon-14x14.png" }
