.post_summary
  %h2
    %a{ :href => post.identifier }
      = post[:title]
  .tag_list
    archived
    = timeago(post)
    = " in: " + tags_for(post, :base_url => "/tags/")
  %p
    = make_excerpt(post)
    %a.more_link{ :href => post.identifier }
      more
